# Supabase PostgreSQL Connection String (Replace [YOUR-PASSWORD] with your actual database password)
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.btqsuiunsckwtlgjeyvl.supabase.co:5432/postgres"

# Optional: Supabase API Keys (if you need them in the client app)
NEXT_PUBLIC_SUPABASE_URL="https://btqsuiunsckwtlgjeyvl.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_Mi0dbyy_XI0GKglHgk_Ruw_32f1vJ3J"

# Server Port
PORT=3000
